DATABASE_URL="postgresql://user:password@host:port/dbname"
REDIS_URL="redis://localhost:6379"

# Authentication Variables

JWT_ACCESS_SECRET=your_access_secret_key
JWT_ACCESS_EXPIRATION=15m
JWT_REFRESH_SECRET=your_refresh_secret_key
JWT_REFRESH_EXPIRATION=7d
GOOGLE_CLIENT_ID=your_google_client_id.apps.googleusercontent.com
TOKEN_EXPIRATION_TIME=30m

# Email Service Variables
RESEND_API_KEY="re_your_api_key"
FROM_EMAIL="Acme <onboarding@resend.dev>"

# AWS Variables
AWS_REGION=your_aws_region
AWS_ACCESS_KEY_ID=your_aws_access_key
AWS_SECRET_ACCESS_KEY=your_aws_secret_key
AWS_S3=your_s3_bucket_name

# Node Variables

NODE_ENV=development
FRONTEND_URL=http://localhost:5173
PORT=3000
